<ion-content>
  <div class="content-wrapper">
    <app-header></app-header>

    <div class="inner-content">
      <nav class="margin-l border-bottom-light-2 margin-left-s color-light-1">
        <a class="margin-right-l padding-bottom-s" routerLink="/home">
          Home Page
        </a>
        <a class="margin-right-l padding-bottom-s" routerLink="/protected">
          Protected Page
        </a>
      </nav>
      <div class="margin-top-l margin-left-m">
        Public page Content Area
      </div>
      <app-loading-indicator *ngIf="false"></app-loading-indicator>
    </div>
    <app-footer></app-footer>
  </div>
</ion-content>
