<ion-content>
  <div class="content-wrapper">
    <app-header></app-header>

    <div class="inner-content">
      <nav class="margin-l border-bottom-light-2 margin-left-s color-light-1">
        <a class="margin-right-l" routerLink="/home">
          Home Page
        </a>
        <a class="margin-right-l" routerLink="/protected">
          Protected Page
        </a>
        <ion-button (click)="logout()">Logout </ion-button>>
      </nav>
      <div class="margin-top-l margin-left-m">
        <h2>Protected Page Content Area</h2>
        <p>login Status : {{loggedIn$ | async}}</p>
        <div *ngIf="user$ | async as user " class="margin-top-l">
          user Details using Observable:
          <div>Upi: {{user.upi}}</div>
          <div>User Id: {{user.userId}}</div>
          <div>Name: {{user.firstName}} {{user.lastName}}</div>
          <div>Email: {{user.email}}</div>
        </div>
        <div>
          <ion-button (click)="getHelloWorld()">Get Hello world</ion-button>
          <ion-button (click)="getUserInfo()">Get User Info</ion-button>
        </div>
        <app-loading-indicator *ngIf="loading$ | async"></app-loading-indicator>
        <div *ngIf="helloWorld && helloWorld.data && !(loading$ | async)" class="margin-top-l">
          Api Response: {{helloWorld.data}}
        </div>

        <div *ngIf="user " class="margin-top-l">
          user Details through getUserInfo Method:
          <div>Upi: {{user.upi}}</div>
          <div>User Id: {{user.userId}}</div>
          <div>Name: {{user.firstName}} {{user.lastName}}</div>
          <div>Email: {{user.email}}</div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</ion-content>
